Repository unional/iso-error: changes, and which Codecov flags are due for each by the changed paths.
All: iso-error, google-cloud-api, iso-error-google-cloud-api

codecov.yml:

flags:
  iso-error:
    paths:
      - packages/iso-error/**
  google-cloud-api:
    paths:
      - packages/google-cloud-api/**
  iso-error-google-cloud-api:
    paths:
      - packages/iso-error-google-cloud-api/**

chore: ncp should be dev Deps
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
  packages/iso-error/package.json
  pnpm-lock.yaml
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

fix: cjs usage
  .changeset/lazy-flowers-juggle.md
  config/package.cjs.json
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
  packages/iso-error/package.json
  pnpm-lock.yaml
  turbo.json
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore: update deps
  config/package.cjs.json
  package.json
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
  packages/iso-error/package.json
  pnpm-lock.yaml
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore: remove pnpm install from version
  package.json
Due: none

chore: update changeset and mergify config
  .changeset/config.json
  .github/mergify.yml
  package.json
Due: none

chore: fix iso-gca ref to iso-error
  packages/iso-error-google-cloud-api/package.json
  pnpm-lock.yaml
Due: iso-error-google-cloud-api

chore: remove extra files
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarnrc.yml
  codecov.yml
Due: none

feat: add `SerializableConverter`
  .changeset/good-rocks-collect.md
  .changeset/sweet-eggs-lay.md
  packages/google-cloud-api/tsconfig.base.json
  packages/iso-error-google-cloud-api/tsconfig.base.json
  packages/iso-error-web/tsconfig.base.json
  packages/iso-error/README.md
  packages/iso-error/ts/index.spec.ts
  packages/iso-error/ts/index.ts
  packages/iso-error/tsconfig.cjs.json
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

feat: remove `IsoError.Serializable`
  .changeset/shiny-terms-deny.md
  config/jest.base.mjs
  packages/google-cloud-api/package.json
  packages/google-cloud-api/ts/errors.spec.ts
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
  packages/iso-error/package.json
  packages/iso-error/ts/index.spec.ts
  packages/iso-error/ts/index.ts
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore: improve coverage
  packages/iso-error/ts/index.ts
Due: iso-error

fix: cause support with mocktomata
  .changeset/shy-pens-relax.md
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .vscode/settings.json
  packages/iso-error/ts/index.spec.ts
  packages/iso-error/ts/index.ts
Due: iso-error

fix: rename plugin
  packages/iso-error-google-cloud-api/ts/index.ts
Due: iso-error-google-cloud-api

chore: add cs
  .changeset/long-numbers-own.md
Due: none

feat(web): add `webPlugin`
  .changeset/tender-books-relax.md
  packages/iso-error-web/ts/index.spec.ts
  packages/iso-error-web/ts/index.ts
Due: none

fix: circular ref
  .changeset/ninety-socks-admire.md
  .vscode/settings.json
  packages/iso-error/package.json
  packages/iso-error/ts/index.spec.ts
  packages/iso-error/ts/index.ts
  packages/iso-error/tsconfig.base.json
Due: iso-error

chore: fix lint
  packages/iso-error/ts/index.ts
Due: iso-error

feat: add remaining errors
  .changeset/tough-bottles-agree.md
  package.json
  packages/iso-error-web/ts/index.spec.ts
  packages/iso-error-web/ts/index.ts
Due: none

fix: remove extra schema
  packages/google-cloud-api/open_api/google.rpc.yml
Due: google-cloud-api

fix: adjust `ErrorWithCause` to match `ES2022` definition
  .changeset/hungry-comics-promise.md
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error/package.json
  packages/iso-error/ts/index.spec.ts
  packages/iso-error/ts/index.ts
  packages/iso-error/tsconfig.base.json
  packages/iso-error/tsconfig.json
  packages/iso-error/tsconfig.lint.json
  pnpm-lock.yaml
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

feat: re-export google-cloud-api
  .changeset/healthy-trainers-kiss.md
  .changeset/odd-eggs-compare.md
  packages/google-cloud-api/open_api/google-cloud-api.yml
  packages/iso-error-google-cloud-api/ts/index.ts
Due: google-cloud-api, iso-error-google-cloud-api

fix: module name of HttpError
  .changeset/twelve-hairs-hear.md
  packages/iso-error-web/ts/index.ts
Due: none

fix: optional the options
  .changeset/tricky-months-complain.md
  packages/google-cloud-api/ts/errors.ts
Due: google-cloud-api

fix: remove private field usage for converter
  .changeset/great-bugs-cough.md
  packages/iso-error/ts/index.ts
Due: iso-error

chore: move eslint to top-level
  package.json
  packages/google-cloud-api/.depcheckrc.yml
  packages/iso-error-google-cloud-api/.depcheckrc.yml
  packages/iso-error-google-cloud-api/.eslintrc.cjs
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/.depcheckrc.yml
  packages/iso-error-web/.eslintrc.cjs
  packages/iso-error-web/package.json
  packages/iso-error-web/tsconfig.lint.json
  packages/iso-error/.depcheckrc.yml
  packages/iso-error/package.json
  pnpm-lock.yaml
Due: iso-error, google-cloud-api, iso-error-google-cloud-api
