Repository unional/iso-error: changes, and which Codecov flags are due for each by the changed paths.
All: iso-error, google-cloud-api, iso-error-google-cloud-api

chore(deps): update commitlint monorepo to v17.0.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency npm-check-updates to v13.0.4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/jest to v28
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
  packages/iso-error/package.json
  yarn.lock
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore(deps): update dependency npm-check-updates to v13.1.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency typescript to v4.7.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8.17.0
  package.json
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
  packages/iso-error/package.json
  yarn.lock
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore: update ci
  .github/mergify.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: none

chore: add tslib size check
  packages/iso-error/.eslintignore
  packages/iso-error/.gitignore
  packages/iso-error/.size-limit.cjs
  packages/iso-error/package.json
  packages/iso-error/tsconfig.tslib.json
  yarn.lock
Due: iso-error

chore: exclude tslib from depcheck
  packages/iso-error/.depcheckrc.yml
Due: iso-error

fix: add cjs package.json
  packages/google-cloud-api/cjs/package.json
  packages/iso-error-google-cloud-api/cjs/package.json
  packages/iso-error-web/cjs/package.json
  packages/iso-error/cjs/package.json
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

fix: add cjs package.json
  .changeset/eight-cycles-shout.md
  packages/google-cloud-api/cjs/package.json
  packages/iso-error-google-cloud-api/cjs/package.json
  packages/iso-error-web/cjs/package.json
  packages/iso-error/cjs/package.json
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore(deps): update jest monorepo to v28.1.1
  package.json
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
  packages/iso-error/package.json
  yarn.lock
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore(deps): update dependency npm-check-updates to v13.1.2
  package.json
  yarn.lock
Due: none

fix(iso): polyfill the type of `AggregateError`
  .changeset/warm-fireants-repair.md
  packages/iso-error/README.md
  packages/iso-error/ts/index.ts
Due: iso-error

chore(deps): update dependency npm-check-updates to v13.1.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @changesets/cli to v2.23.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency npm-check-updates to v13.1.4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency npm-check-updates to v13.1.5
  package.json
  yarn.lock
Due: none

chore: update dev deps
  packages/iso-error/package.json
  yarn.lock
Due: iso-error

chore: adjust dev deps back to carets
  package.json
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
  packages/iso-error/package.json
  yarn.lock
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore(deps): update dependency npm-check-updates to v14
  package.json
  yarn.lock
Due: none

fix: iso-error versioning
  .changeset/bright-dodos-relax.md
  .github/workflows/release.yml
  package.json
Due: none

chore: fix release ci
  .github/workflows/release.yml
Due: none

chore: fix publish
  package.json
Due: none

chore: bump version
  packages/google-cloud-api/package.json
Due: google-cloud-api

chore: bump version
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
Due: iso-error-google-cloud-api

fix: relax `fromSerializable()` type
  .changeset/olive-suits-attend.md
  packages/iso-error-google-cloud-api/ts/index.spec.ts
  packages/iso-error/ts/index.ts
Due: iso-error, iso-error-google-cloud-api

chore: update GH action
  .github/workflows/release.yml
Due: none

fix: update type-plus
  .changeset/dry-ladybugs-remain.md
  package.json
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
  packages/iso-error/package.json
  yarn.lock
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore: remove empty file
  packages/google-cloud-api/ts/rpc/CauseInfo.ts
Due: google-cloud-api

feat: add Cause.module back with doc
  .changeset/fresh-candles-cross.md
  packages/google-cloud-api/README.md
  packages/google-cloud-api/ts/rpc/types.spec.ts
  packages/google-cloud-api/ts/rpc/types.ts
Due: google-cloud-api

feat: expose `getCauseInfo(error)`
  .changeset/stale-pants-run.md
  packages/google-cloud-api/README.md
  packages/google-cloud-api/ts/errors.ts
Due: google-cloud-api

Path conditions:
  iso-error: any of: packages/iso-error/**
  google-cloud-api: any of: packages/google-cloud-api/**
  iso-error-google-cloud-api: any of: packages/iso-error-google-cloud-api/**
