Repository unional/iso-error: changes, and which Codecov flags are due for each by the changed paths.
All: iso-error, google-cloud-api, iso-error-google-cloud-api

fix: main field and type
  .changeset/beige-starfishes-wonder.md
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
  packages/iso-error/package.json
Due: iso-error, iso-error-google-cloud-api

fix: improve toCause logic
  .changeset/selfish-hotels-pull.md
  packages/google-cloud-api/ts/errors.ts
Due: google-cloud-api

feat: add HttpStatusText
  .changeset/stupid-jars-agree.md
  packages/iso-error-web/ts/index.ts
Due: none

fix: adjust response code
  packages/google-cloud-api/open_api/paths/google_cloud_api.aborted.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.cancelled.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.data_loss.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.deadline_exceeded.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.failed_precondition.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.internal.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.invalid_argument.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.not_found.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.out_of_range.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.permission_denied.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.resource_exhausted.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.unauthenticated.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.unavailable.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.unimplemented.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.unknown.yaml
Due: google-cloud-api

fix: add basic descriptions
  packages/google-cloud-api/open_api/paths/google_cloud_api.aborted.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.already_exists.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.cancelled.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.data_loss.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.deadline_exceeded.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.failed_precondition.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.internal.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.invalid_argument.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.not_found.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.out_of_range.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.permission_denied.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.resource_exhausted.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.unauthenticated.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.unavailable.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.unimplemented.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.unknown.yaml
Due: google-cloud-api

fix: add required fields for responses
  .changeset/old-hats-unite.md
  packages/google-cloud-api/open_api/components/schemas/google.rpc.bad_request.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.debug_info.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.error_info.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.help.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.localized_message.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.precondition_failure.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.quota_failure.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.request_info.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.resource_info.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.retry_info.yaml
Due: google-cloud-api

fix: relax type
  .changeset/shy-otters-remain.md
  packages/iso-error-web/ts/index.ts
Due: none

chore: downgrade change to patch
  .changeset/old-hats-unite.md
Due: none

test: add test
  packages/iso-error-web/ts/index.spec.ts
Due: none

fix: status should wrap in error field
  .changeset/orange-suns-switch.md
  packages/iso-error-google-cloud-api/ts/index.spec.ts
  packages/iso-error-google-cloud-api/ts/index.ts
Due: iso-error-google-cloud-api

fix: add status field
  .changeset/giant-buckets-collect.md
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.aborted.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.already_exists.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.cancelled.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.data_loss.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.deadline_exceeded.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.failed_precondition.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.internal.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.invalid_argument.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.not_found.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.out_of_range.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.permission_denied.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.resource_exhausted.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.unauthenticated.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.unavailable.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.unimplemented.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.unknown.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.aborted.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.already_exists.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.cancelled.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.data_loss.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.deadline_exceeded.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.failed_precondition.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.internal.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.invalid_argument.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.not_found.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.out_of_range.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.permission_denied.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.resource_exhausted.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.unauthenticated.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.unavailable.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.unimplemented.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.unknown.yaml
  packages/google-cloud-api/ts/errors.ts
  packages/google-cloud-api/ts/rpc/Code.spec.ts
  packages/google-cloud-api/ts/rpc/Code.ts
  packages/google-cloud-api/ts/rpc/types.ts
  packages/google-cloud-api/ts/test-utils/getStatusExamples.ts
Due: google-cloud-api

chore: adjust bump
  .changeset/config.json
  .changeset/giant-buckets-collect.md
Due: none

fix: add any-of
  .changeset/giant-worms-draw.md
  packages/google-cloud-api/open_api/components/responses/google_cloud_api.any-of.yaml
  packages/google-cloud-api/open_api/components/schemas/google.rpc.code.any-of.yaml
  packages/google-cloud-api/open_api/components/schemas/google_cloud_api.code.any-of.yaml
  packages/google-cloud-api/open_api/google_cloud_api.yaml
  packages/google-cloud-api/open_api/paths/google_cloud_api.any-of.yaml
Due: google-cloud-api

chore: adjust semver
  .changeset/giant-worms-draw.md
Due: none

fix: add missing entries for code and status
  .changeset/short-rivers-hunt.md
  packages/google-cloud-api/open_api/components/schemas/google-cloud-api/error.code.yaml
  packages/google-cloud-api/open_api/components/schemas/google-cloud-api/error.status.yaml
Due: google-cloud-api

Refactor mergify.yml to extend from .github
  .github/mergify.yml
Due: none

chore: add cyberuni/agent-helmsman and repobuddy/agent-changesets skills
  .agents/skills/add-changeset/SKILL.md
  .agents/skills/create-skill/SKILL.md
  .agents/skills/init/SKILL.md
  .agents/skills/setup-changesets/SKILL.md
  .agents/skills/validate-skill/SKILL.md
  skills-lock.json
Due: none

chore: add dependabot automerge workflow
  .github/workflows/dependabot-automerge.yml
Due: none

chore: add repobuddy/agent-security skill
  .agents/skills/fix-security-pr/SKILL.md
  skills-lock.json
Due: none

chore: upgrade to pnpm 11.1.3, add minimumreleaseage=1440
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: increase tslib size limit to 6 kB
  packages/iso-error/.size-limit.cjs
Due: iso-error

fix: specify API name in redocly bundle command for v1.34.x compatibility
  packages/google-cloud-api/package.json
Due: google-cloud-api

fix: allow fsevents build scripts for macOS
  pnpm-workspace.yaml
Due: none

fix: increase google-cloud-api bundle size limits
  packages/google-cloud-api/.size-limit.cjs
Due: google-cloud-api

feat: add add-changeset skill from repobuddy/agent-changesets
  .claude/skills/add-changeset/SKILL.md
Due: none

fix: increase iso-error-google-cloud-api bundle size limits
  packages/iso-error-google-cloud-api/.size-limit.cjs
Due: iso-error-google-cloud-api

chore: upgrade to pnpm 11.1.3 (#390)
  .claude/skills/add-changeset/SKILL.md
  .npmrc
  package.json
  packages/google-cloud-api/.size-limit.cjs
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/.size-limit.cjs
  packages/iso-error/.size-limit.cjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

fix: bump @size-limit/preset-small-lib to v12 to match size-limit v12
  packages/iso-error/package.json
Due: iso-error

chore: publish via OIDC from cyberuni
  .changeset/secretless-release-cyberuni.md
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  README.md
  packages/google-cloud-api/README.md
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/README.md
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/README.md
  packages/iso-error-web/package.json
  packages/iso-error/README.md
  packages/iso-error/package.json
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore: delete the dead prettier config
  .prettierignore
  .prettierrc.json
Due: none

ci: pin cyberuni/.github reusable workflows to @v2
  .github/workflows/pull-request.yml
Due: none

ci: pin cyberuni/.github reusable workflows to @v2
  .github/workflows/release.yml
Due: none

ci: one updater, one merge path, and a strict release soak
  .github/mergify.yml
  .github/renovate.json
  .github/workflows/dependabot-automerge.yml
  .husky/commit-msg
  .npmrc
  pnpm-workspace.yaml
Due: none

test: write repo-root-relative paths into the coverage reports
  packages/google-cloud-api/vitest.config.ts
  packages/iso-error-google-cloud-api/vitest.config.ts
  packages/iso-error-web/vitest.config.ts
  packages/iso-error/vitest.config.ts
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

Path conditions:
  iso-error: any of: packages/iso-error/**
  google-cloud-api: any of: packages/google-cloud-api/**
  iso-error-google-cloud-api: any of: packages/iso-error-google-cloud-api/**
