Repository unional/iso-error: changes, and which Codecov flags are due for each by the changed paths.
All: iso-error, google-cloud-api, iso-error-google-cloud-api

codecov.yml:

flags:
  iso-error:
    paths:
      - packages/iso-error/**
  google-cloud-api:
    paths:
      - packages/google-cloud-api/**
  iso-error-google-cloud-api:
    paths:
      - packages/iso-error-google-cloud-api/**

chore: adding some api specs
  packages/google-cloud-api/README.md
  packages/google-cloud-api/open_api/example.yml
  packages/google-cloud-api/open_api/google-cloud-api.yml
  packages/google-cloud-api/open_api/protobuf.yml
  packages/google-cloud-api/package.json
  packages/google-cloud-api/redocly.yaml
Due: google-cloud-api

feat: add more open-api specs
  package.json
  packages/google-cloud-api/open_api/example.yml
  packages/google-cloud-api/open_api/google-cloud-api.yml
  packages/google-cloud-api/open_api/google.protobuf.yml
  packages/google-cloud-api/open_api/google.rpc.code.yml
  packages/google-cloud-api/open_api/google.rpc.context.yml
  packages/google-cloud-api/open_api/google.rpc.error-details.yml
  packages/google-cloud-api/open_api/google.rpc.status.yml
  packages/google-cloud-api/open_api/protobuf.yml
  packages/google-cloud-api/package.json
  redocly.yaml
  turbo.json
  yarn.lock
Due: google-cloud-api

fix: adjust rpc type export
  packages/google-cloud-api/ts/protobuf/types.ts
  packages/google-cloud-api/ts/rpc/types.ts
Due: google-cloud-api

feat: add open api specs
  .changeset/light-beds-remember.md
  packages/google-cloud-api/README.md
  packages/google-cloud-api/open_api/example.yml
  packages/google-cloud-api/open_api/google-cloud-api.yml
  packages/google-cloud-api/open_api/google.protobuf.yml
  packages/google-cloud-api/open_api/google.rpc.code.yml
  packages/google-cloud-api/open_api/google.rpc.context.yml
  packages/google-cloud-api/open_api/google.rpc.error-details.yml
  packages/google-cloud-api/open_api/google.rpc.status.yml
  packages/google-cloud-api/open_api/google.rpc.yml
  packages/google-cloud-api/package.json
  yarn.lock
Due: google-cloud-api

fix: re-release with workspace protocol fix
  .changeset/eighty-camels-bathe.md
  package.json
Due: none

chore: convert to pnpm
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .husky/commit-msg
  .npmrc
  package.json
  packages/iso-error/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: iso-error

chore: update cs
  .changeset/cuddly-turtles-promise.md
Due: none

fix: loosen workspace req
  .changeset/friendly-ears-chew.md
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
  pnpm-lock.yaml
Due: google-cloud-api, iso-error-google-cloud-api

feat(google-cloud-api): add responses
  .vscode/extensions.json
  .vscode/settings.json
  packages/google-cloud-api/open_api/google-cloud-api.yml
  packages/google-cloud-api/open_api/google.rpc.yml
Due: google-cloud-api

docs: add iso-error badge to top readme
  README.md
Due: none

docs: mention pnpm
  .vscode/ltex.dictionary.en-US.txt
  README.md
Due: none

chore: cs
  .changeset/grumpy-spoons-invent.md
Due: none

fix: remove extra response
  packages/google-cloud-api/open_api/google.rpc.yml
Due: google-cloud-api

fix: ErrorDetails schema
  .changeset/cold-crabs-admire.md
  packages/google-cloud-api/open_api/google.rpc.yml
Due: google-cloud-api

fix: ErrorDetails schema (#164)
  .changeset/cold-crabs-admire.md
  packages/google-cloud-api/open_api/google.rpc.yml
Due: google-cloud-api

fix: allow additional properties for `CauseInfo.Causes`
  .changeset/commit.cjs
  .changeset/config.json
  .changeset/kind-panthers-roll.md
  packages/google-cloud-api/open_api/google-cloud-api.yml
Due: google-cloud-api

fix: add `@types` to error details
  .changeset/fresh-queens-sing.md
  packages/google-cloud-api/open_api/google-cloud-api.yml
  packages/google-cloud-api/open_api/google.rpc.yml
Due: google-cloud-api

chore: dummy response status should be string
  packages/google-cloud-api/open_api/google-cloud-api.yml
  packages/google-cloud-api/open_api/google.protobuf.yml
  packages/google-cloud-api/open_api/google.rpc.yml
Due: google-cloud-api

chore: adjust alias scripts
  package.json
Due: none

feat(iso): add ModuleError.Options
  packages/iso-error/ts/index.ts
Due: iso-error

chore: cs
  .changeset/afraid-cobras-leave.md
Due: none

test: add test
  packages/iso-error/ts/index.spec.ts
Due: iso-error

chore: disable skipCI
  .changeset/config.json
Due: none

chore: add release script
  package.json
Due: none

chore: update jest config and clean up scripts
  README.md
  config/jest.base.mjs
  jest.config.js
  package.json
  packages/google-cloud-api/cjs/package.json
  packages/google-cloud-api/jest.config.cjs
  packages/google-cloud-api/jest.config.mjs
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/cjs/package.json
  packages/iso-error-google-cloud-api/jest.config.cjs
  packages/iso-error-google-cloud-api/jest.config.mjs
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/cjs/package.json
  packages/iso-error-web/jest.config.mjs
  packages/iso-error-web/package.json
  packages/iso-error/cjs/package.json
  packages/iso-error/jest.config.cjs
  packages/iso-error/jest.config.jsdom.cjs
  packages/iso-error/jest.config.mjs
  packages/iso-error/jest.jsdom.mjs
  packages/iso-error/package.json
  packages/iso-error/ts/index.spec.ts
  packages/iso-error/ts/index.ts
  sketches/cause-info.excalidraw
  sketches/iso-error.excalidraw
  turbo.json
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore: update deps
  config/package.cjs.json
  package.json
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
  packages/iso-error/package.json
  pnpm-lock.yaml
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

fix: cjs usage
  .changeset/lazy-flowers-juggle.md
  config/package.cjs.json
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
  packages/iso-error/package.json
  pnpm-lock.yaml
  turbo.json
Due: iso-error, google-cloud-api, iso-error-google-cloud-api
