Repository unional/iso-error: changes, and which Codecov flags are due for each by the changed paths.
All: iso-error, google-cloud-api, iso-error-google-cloud-api

docs: update readme
  .vscode/ltex.hiddenFalsePositives.en-US.txt
  packages/iso-error-google-cloud-api/README.md
Due: iso-error-google-cloud-api

chore: bump version
  .changeset/odd-dolphins-hope.md
  .changeset/odd-tomatoes-sin.md
  .changeset/swift-fireants-love.md
  packages/google-cloud-api/CHANGELOG.md
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/CHANGELOG.md
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error/CHANGELOG.md
  packages/iso-error/package.json
  yarn.lock
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore(deps): update dependency eslint-plugin-harmony to v7
  package.json
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error/package.json
  yarn.lock
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore: add @typescript-eslint/parser
  package.json
  yarn.lock
Due: none

chore(deps): update yarn to v3.2.1
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @commitlint/cli to v16.3.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency npm-check-updates to v12.5.12
  package.json
  yarn.lock
Due: none

chore(deps): update dependency npm-check-updates to v13
  package.json
  yarn.lock
Due: none

chore(deps): update commitlint monorepo to v17
  package.json
  yarn.lock
Due: none

chore(deps): update dependency npm-check-updates to v13.0.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v8.16.0
  package.json
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error/package.json
  yarn.lock
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore(deps): update dependency npm-check-updates to v13.0.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency typescript to v4.7.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @commitlint/cli to v17.0.1
  package.json
  yarn.lock
Due: none

chore: update all deps
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error/package.json
  yarn.lock
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

feat(iso-error): add esm module support
  .changeset/fuzzy-rabbits-glow.md
  .markdownlintignore
  .vscode/ltex.disabledRules.en-US.txt
  .vscode/settings.json
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  packages/google-cloud-api/tsconfig.base.json
  packages/iso-error/.depcheckrc.yml
  packages/iso-error/.eslintrc.cjs
  packages/iso-error/.eslintrc.js
  packages/iso-error/.size-limit.cjs
  packages/iso-error/jest.config.cjs
  packages/iso-error/jest.config.jsdom.cjs
  packages/iso-error/package.json
  packages/iso-error/ts/index.spec.ts
  packages/iso-error/ts/isAggregateError.spec.ts
  packages/iso-error/ts/testErrors.ts
  packages/iso-error/tsconfig.base.json
  packages/iso-error/tsconfig.cjs.json
  packages/iso-error/tsconfig.esm.json
  packages/iso-error/tsconfig.lint.json
  turbo.json
  yarn.lock
Due: iso-error, google-cloud-api

feat(gca): add ESM support
  .changeset/metal-jokes-fail.md
  packages/google-cloud-api/.depcheckrc.yml
  packages/google-cloud-api/.eslintignore
  packages/google-cloud-api/.eslintrc.cjs
  packages/google-cloud-api/.eslintrc.js
  packages/google-cloud-api/.size-limit.cjs
  packages/google-cloud-api/jest.config.cjs
  packages/google-cloud-api/package.json
  packages/google-cloud-api/ts/errors.spec.ts
  packages/google-cloud-api/ts/errors.ts
  packages/google-cloud-api/ts/index.ts
  packages/google-cloud-api/ts/protobuf/index.ts
  packages/google-cloud-api/ts/protobuf/protobuf.ts
  packages/google-cloud-api/ts/rpc/Code.spec.ts
  packages/google-cloud-api/ts/rpc/Status.spec.ts
  packages/google-cloud-api/ts/rpc/Status.ts
  packages/google-cloud-api/ts/rpc/index.ts
  packages/google-cloud-api/ts/rpc/rpc.ts
  packages/google-cloud-api/ts/rpc/types.spec.ts
  packages/google-cloud-api/ts/rpc/types.ts
  packages/google-cloud-api/ts/test-utils/getStatusExamples.ts
  packages/google-cloud-api/ts/test-utils/index.ts
  packages/google-cloud-api/tsconfig.base.json
  packages/google-cloud-api/tsconfig.cjs.json
  packages/google-cloud-api/tsconfig.esm.json
  packages/google-cloud-api/tsconfig.esnext.json
  packages/google-cloud-api/tsconfig.lint.json
  yarn.lock
Due: google-cloud-api

feat(iso-gca): add ESM support
  .changeset/fair-moons-care.md
  packages/google-cloud-api/tsconfig.base.json
  packages/google-cloud-api/tsconfig.json
  packages/google-cloud-api/tsconfig.lint.json
  packages/iso-error-google-cloud-api/.depcheckrc.yml
  packages/iso-error-google-cloud-api/.eslintrc.cjs
  packages/iso-error-google-cloud-api/.eslintrc.js
  packages/iso-error-google-cloud-api/.size-limit.cjs
  packages/iso-error-google-cloud-api/jest.config.cjs
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-google-cloud-api/renovate.json
  packages/iso-error-google-cloud-api/ts/index.spec.ts
  packages/iso-error-google-cloud-api/tsconfig.base.json
  packages/iso-error-google-cloud-api/tsconfig.cjs.json
  packages/iso-error-google-cloud-api/tsconfig.esm.json
  packages/iso-error-google-cloud-api/tsconfig.esnext.json
  packages/iso-error-google-cloud-api/tsconfig.json
  packages/iso-error-google-cloud-api/tsconfig.lint.json
Due: google-cloud-api, iso-error-google-cloud-api

chore: fix rootDir
  packages/google-cloud-api/package.json
  packages/google-cloud-api/tsconfig.base.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-google-cloud-api/tsconfig.base.json
  packages/iso-error/package.json
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

docs: update readme
  README.md
Due: none

chore: update lock file
  yarn.lock
Due: none

feat: add iso-error-web
  .changeset/gentle-teachers-pretend.md
  .vscode/ltex.dictionary.en-US.txt
  README.md
  package.json
  packages/iso-error-web/.depcheckrc.yml
  packages/iso-error-web/.eslintignore
  packages/iso-error-web/.eslintrc.cjs
  packages/iso-error-web/.size-limit.cjs
  packages/iso-error-web/LICENSE
  packages/iso-error-web/README.md
  packages/iso-error-web/jest.config.cjs
  packages/iso-error-web/package.json
  packages/iso-error-web/ts/index.spec.ts
  packages/iso-error-web/ts/index.ts
  packages/iso-error-web/tsconfig.base.json
  packages/iso-error-web/tsconfig.cjs.json
  packages/iso-error-web/tsconfig.esm.json
  packages/iso-error-web/tsconfig.json
  packages/iso-error-web/tsconfig.lint.json
  yarn.lock
Due: none

chore: bump version
  .changeset/gentle-teachers-pretend.md
  packages/iso-error-web/CHANGELOG.md
  packages/iso-error-web/package.json
Due: none

fix: workspace deps
  .changeset/eighty-bananas-look.md
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  package.json
Due: none

chore: cs tag
  package.json
Due: none

fix: try publish again
  package.json
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/package.json
Due: google-cloud-api, iso-error-google-cloud-api

chore: try use post publish
  package.json
Due: none

fix: add d.ts to cjs
  .changeset/modern-ducks-dream.md
  packages/google-cloud-api/tsconfig.base.json
  packages/google-cloud-api/tsconfig.esm.json
  packages/iso-error-google-cloud-api/tsconfig.base.json
  packages/iso-error-google-cloud-api/tsconfig.esm.json
  packages/iso-error-web/tsconfig.base.json
  packages/iso-error-web/tsconfig.esm.json
  packages/iso-error/tsconfig.base.json
  packages/iso-error/tsconfig.esm.json
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore: bump version
  packages/google-cloud-api/CHANGELOG.md
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/CHANGELOG.md
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/CHANGELOG.md
  packages/iso-error-web/package.json
  packages/iso-error/CHANGELOG.md
  packages/iso-error/package.json
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

docs: mention ES2021.promise
  packages/google-cloud-api/CHANGELOG.md
  packages/google-cloud-api/package.json
  packages/iso-error-google-cloud-api/CHANGELOG.md
  packages/iso-error-google-cloud-api/package.json
  packages/iso-error-web/CHANGELOG.md
  packages/iso-error-web/package.json
  packages/iso-error/CHANGELOG.md
  packages/iso-error/README.md
  packages/iso-error/package.json
Due: iso-error, google-cloud-api, iso-error-google-cloud-api

chore: update peerDeps
  yarn.lock
Due: none

Path conditions:
  iso-error: any of: packages/iso-error/**
  google-cloud-api: any of: packages/google-cloud-api/**
  iso-error-google-cloud-api: any of: packages/iso-error-google-cloud-api/**
